$m_auth-bg: #36404a;
$m_gray-900: #f3f7f9;
$m_body-bg: #323b44;
$m_rightbar-bg: #3b4651;
$m_gray-300: #424e5a;
$h-color: #acbfd2;
$body-color: #94a0ad;
$muted: #98a6ad;

$white: $white;
$primary-dark: #1E2130;
$primary-card: #272B41;
$primary-blue: #2E47BA;
$primary-purple: #93A6FF;

.dark{
    display: none !important;
}
body[data-sidebar-color="dark"] {
    background-color: $primary-dark;
    color: $body-color;
    ::-webkit-input-placeholder,
    :-ms-input-placeholder,
    ::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }
    * {
        box-shadow: none;
    }
    .light{
        display: none !important;
    }
    .dark{
        display: block !important;
    }
    .page-title-box {
        background-color: $m_auth-bg;
        .page-title {
            font-size: 1.1rem;
            margin: 0;
            color: $m_gray-900;
        }
    }
    .footer {
        // background-color: $m_auth-bg;
        background-color: #33384E;
        color: #fff;

        .footer-links {
            li {
                a {
                    color: #fff;
                }
            }
        }
    }
    .right-bar {
        background-color: $m_rightbar-bg;
    }
    .bg-light {
        background-color: $m_gray-300 !important;
    }
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        // color: $h-color;
        color: #fff !important;
    }
    .card {
        // background-color: $m_auth-bg;
        // border: $m_auth-bg;
        background-color: $primary-card;
        border: 0 !important;
        box-shadow: none !important;
    }
    .card-body-bottom {
        background-color: #384a53;
    }
    .vs-dialog {
        background-color: #33384e;
        color: $white;
    }
    label{
        color: #FFFFFF !important;
    }
    .vs-input, textarea {
        color: #fff;
        background-color: #353a53 !important;
        border-color: rgba(231, 237, 244, .3);
    }
    .select-white {
        background-color: transparent;
    }
    .vs-select__options,
    .vs-select.activeOptions .vs-select__input {
        color: $white !important;
        background-color: #323941
    }
    .vs-select__input {
        background-color: #353a53 !important;
        // color: $white !important;
        color: #94a0ad !important;
        border: 1px solid rgba(231, 237, 244, 0.3);
    }
    .vs-icon-close:before,
    .vs-icon-close:after {
        background: rgb(247, 249, 250)
    }
    .steps-item-title {
        color: $muted;
    }
    .steps-item-process>.steps-item-container>.steps-item-content>.steps-item-title {
        color: $muted;
    }
    .card-body {
        color: $muted;
    }
    .mx-input {
        background-color: #3B4651 !important;
    }
    .mx-icon-calendar {
        color: $muted;
    }
    .vs-table__thead .vs-table__th {
        background: $primary-card !important;
        border-color: rgba(224, 233, 244, 0.2) !important;
    }
    .vs-table-content {
        border-color: rgba(224, 233, 244, 0.1) !important;
        border-radius: 0;
    }
    .checkout-table .vs-table__tr .vs-table__td,
    .vs-table__tbody tr td {
        border-color: rgba(224, 233, 244, 0.2);
    }
    .vs-table_not-found {
        border-bottom: 0;
    }
    .vs-table_not-found tr td {
        color: $white;
        border-bottom: 0;
    }
    .vs-table__footer {
        border-color: rgba(224, 233, 244, 0.2);
      }
    .ant-progress-text {
        color: #94a0ad;
    }
    .big-input {
        .vs-input {
            background-color: #3b4651 !important;
        }
    }
    .btn-light {
        background-color: #36404a;
        border-color: #36404a;
        color: #94a0ad;
    }
    .dropdown-menu {
        background: #323b44;
    }
    .llYspR:last-of-type:after {
        background-color: #36404a;
    }
    .llYspR:first-of-type:before {
        background-color: #36404a;
    }
    .svg-time,
    .svg-time-first {
        background-color: #36404a;
    }
    .timesection .hours {
        color: #fffba2;
    }
    .date-billing {
        color: #fffba2;
    }
    .amount {
        color: #fffba2;
    }
    .bankdetails .number {
        color: #fffba2;
    }
    .bg-warn {
        background-color: #1d2e38;
        color: $white;
        font-size: 14px;
        border: 1.25px solid #fffba2;
        border-radius: 5px;
    }
    .warning b {
        font-weight: 700;
        color: #fffba2;
    }
    .vs-table__header {
        background: $primary-card !important;
        border-radius: 0;
    }
    .vs-table__footer {
        background: $primary-card !important;
        // border-top: 1px solid rgba(224, 233, 244, 0.2);
    }
    .vs-pagination__active {
        background-color: $primary-purple;
        border: 0;
    }
    .vs-button--border {
        color: $white !important;
    }
    .vs-select__option {
        color: $white !important;
        &:hover{
            color:#93a6ff !important;
        }
    }
    .activeOption{
        color: #93a6ff !important;
    }
    .rExdf,
    .gDvxUo,
    .fIiysl {
        color: $white !important;
    }
    .vs-table__tr:hover .vs-table__td {
        background: $primary-card;
    }
    .vs-table__td {
        color: $white !important;
    }
    .phone-row {
        color: #b9e2ff !important;
    }
    .icon-light {
        display: none !important;
    }
    .icon-dark {
        display: inline-block !important;
    }
    .navbar-custom {
        background-color: $primary-blue;
    }
    .portlet {
        background-color: $primary-card;
        box-shadow: none;
    }
    .footer:before {
        background-color: #33384E;
    }
    .switch-tab-title {
        color: $white;
        background-color: $primary-card;
        border-color: rgba(224, 233, 244, 0.2);
    }
    .pending-order {
        color: $white;
    }
    .switch-product-and-domain-tab-body {
        background-color: #33384E !important;
    }
    .switch-tab.switch-left-tab.active {
        background-color: $primary-card;
        border-color: $primary-purple;
    }
    .switch-tab.switch-left-tab.active .tab-title {
        color: $primary-purple;
    }
    #sidebar-menu > ul > li.menuitem-active > a:after {
        background-color: $primary-purple;
    }
    .dashboard-page__title {
        color: $white;
    }
    .dashboard-page .title-section {
        color: $white;
    }
    .dashboard-page .section {
        background-color: $primary-card;
        box-shadow: none;
    }
    .dashboard-page .portlet.portlet-spacing {
        background-color: #33384E !important;
    }
    .dashboard-page_portlets .portlet-title,
    .dashboard-page_portlets .portlet-value {
        color: $white;
    }
    .product_status {
        background-color: $primary-card;
    }
    .tracking .btn-switch.active {
        color: $primary-purple !important;
        background-color: #33384E !important;
        box-shadow: none !important;
    }
    .tracking .btn-switch.active span {
        color: $primary-purple;
    }
    /* Statistics page */
    .statistics-page .p-statistics .cell.stat-card {
        background-color: $primary-card;
        box-shadow: none;
    }
    .statistics-page .p-statistics .cell.stat-card .portlet-title,
    .product-list-page .p-statistics .st-box-title .title,
    .statistics-page .p-statistics .cell.stat-card .portlet-value {
        color: $white;
    }
    .product-list-page .box_wrap {
        background-color: $primary-card;
        box-shadow: none;
    }
    .statistics-page .tracking .product_status {
        background-color: $primary-card;
        border: 1px solid rgba(224, 233, 244, 0.2);
    }
    .rb-1 {
        border-color: rgba(224, 233, 244, 0.2);
    }
    hr {
        border-color: rgba(224, 233, 244, 0.2);
    }
    .vs-pagination__button {
        background-color: transparent;
        border: 0;
    }
    .vs-pagination__arrow:disabled {
        background-color: $primary-card !important;
        border-color: rgba(224, 233, 244, 0.2) !important;
    }
    .vs-pagination__arrow.prev .vs-icon-arrow:after,
    .vs-pagination__arrow.prev .vs-icon-arrow:before,
    .vs-pagination__arrow.next .vs-icon-arrow:after,
    .vs-pagination__arrow.next .vs-icon-arrow:before {
        background-color: $white !important;
    }
    .table-container {
        background-color: $primary-card !important;
        border: none !important;
        box-shadow: none !important;
    }
    .content-order .background-dark,
    .product-list-page .background-dark {
        background-color: $primary-card !important;
    }
    .content-order .background-dark > div:last-child > div {
        border: 0;
    }
    .nuxt-link-active {
        color: $white !important
    }
    .product-list-page .top-title-barr .h-2 {
        color: $white;
    }
    .product-list-page .p-statistics .teamP-grey {
        background-color: #33384E;
    }
    .table thead th {
        border-top: 1px solid rgba(224, 233, 244, 0.2);
        border-bottom: 1px solid rgba(224, 233, 244, 0.2);
    }
    .product-list-page .team-b-table .b-table tr th {
        border-color: rgba(224, 233, 244, 0.2);
    }
    #sidebar-menu > ul > li #sidebarTasks .sub-menu.nav-second-level li.menuitem-active a {
        background-color: #33384E;
    }
    .paymentC-page.product-list-page .card .card-body h3,
    .paymentC-page.product-list-page .card .card-body .title-block-noborder label {
        color: $white;
    }
    .paymentC-page.product-list-page .card .card-body.p-confirm-cardb .text-muted {
        color: $white !important;
    }
    .part,
    .multiselect__tags {
        color: $white;
        background-color: $primary-card;
        border-color: rgba(224, 233, 244, 0.2);
    }
    #wrapper .product-list-page .portlet.portlet-spacing.portlet-product-detail {
        box-shadow: none !important;
    }
    .product-rn-btn {
        border-color: $primary-dark;
    }
    .custom-title-36 {
        color: $white;
    }
    .vs-checkbox-mask:before {
        border: 1px solid rgba(224, 233, 244, 0.2);
    }
    .vs-checkbox:hover~.vs-checkbox-mask {
        background-color: transparent;
    }
    .vs-checkbox:hover~.vs-checkbox-mask:before {
        border: 1px solid rgba(224, 233, 244, 0.7);
    }
    .pp-search {
        color: $white;
        background-color: #353a53;
        border: 1px solid rgba(224, 233, 244, 0.2);
    }
    .pp-btn-white {
        background-color: #353a53;
        border: 1px solid rgba(224, 233, 244, 0.2);
        box-shadow: none;
    }
    .pp-btn-border-white {
        background-color: #353a53;
        border-color: rgba(224, 233, 244, 0.2);
    }
    .pp-btn-border-white span,
    .pp-btn-white span {
        color: $white;
    }
    .pp-link-border-blue {
        color: $primary-purple;
        border-color: $primary-purple;
        &:hover {
            color: $primary-purple;
        }
        button {
            color: $primary-purple;
        }
    }
    .text-blue-dark {
        color: $primary-purple;
    }
    .text-blue {
        color: #93A6FF !important;
    }
    .product-list-page .breadcrumb .breadcrumb-item.active a {
        color: $primary-purple !important;
    }
    .pp-btn-filter-dropdown .btn-secondary.dropdown-toggle {
        background-color: #353a53 !important;
        border-color: rgba(224, 233, 244, 0.2) !important;
        color: #94a0ad !important;
    }
    .pp-btn-filter-dropdown .btn-secondary.dropdown-toggle span {
        // color: $white;
        color: #94a0ad;
    }
    .switch-tab {
        border-bottom: none;
    }
    .navbar-custom .vs-switch {
        background-color: $primary-card;
    }
    .navbar-custom .vs-switch__circle {
        background-color: $primary-purple;
    }
    .alert-warning1 {
        color: $white;
        background-color: #332d2f;
    }
    .alert-info1 {
        color: $white;
        background-color: #21284b;
    }
    .alert-info1 span {
        color: $white;
    }
    .pp-page-title h2 {
        color: $white;
    }
    #sidebar-menu > ul > li #sidebarTasks .sub-menu.nav-second-level li a {
        color: $white;
    }
    .other-page.product-list-page .other-table-head-con .vue-daterange-picker .reportrange-text {
        border: 0 !important;
    }
    .product-list-page .table-pagination-footer {
        border-color: rgba(224, 233, 244, 0.2);
    }
    .product-list-page .b-table tr td {
        color: $white;
        border-color: rgba(224, 233, 244, 0.2);
    }
    .title-block div {
        color: $white;
    }
    .pp-btn-tutorial {
        color: $primary-purple;
        background-color: #33384E;
    }
    .connect-whatsapp-page p {
        color: white;
    }
    .follow-up-header h2,
    .follow-up-detail h3,
    .follow-up-detail p {
        color: white;
    }
    .pp-btn-border-blue .vs-button__content span {
        color: $primary-purple;
    }
    .follow-up-item {
        border-color: rgba(224, 233, 244, 0.2);
    }
    .viewpage-btn .vs-tooltip-content .b-white {
        border-right: 0 !important;
    }
    .viewpage-btn .relative .b-white {
        border-left: 0 !important;
    }
    .pp-btn-filter-dropdown .btn-secondary.dropdown-toggle {
        border-color: rgba(224, 233, 244, 0.2) !important;
    }
    .scrollbar-custom {
        color: $white;
        border-color: rgba(224, 233, 244, 0.2);
    }
    .form-input .vs-input {
        border-color: rgba(224, 233, 244, 0.2) !important;
    }
    .emoji-item {
        border-color: rgba(224, 233, 244, 0.2);
    }
    .btn-dash {
        border-color: rgba(224, 233, 244, 0.2);
    }
    .modal-title {
        color: #fff;
    }
    .modal-receipt .follow-wrapper .payment-info-block,
    .modal-receipt .follow-wrapper .followup-list .followup-modal-menu.active,
    .modal-receipt .follow-wrapper .followup-list .followup-modal-menu:hover {
        background-color: #2d3249;
    }
    .modal-receipt .follow-wrapper .followup-list .followup-modal-menu .f-up {
        color: #203551;
    }
    .modal-receipt .follow-wrapper .followup-list .followup-modal-menu .f-up.done,
    .modal-receipt .follow-wrapper .followup-list .followup-modal-menu .f-up-text {
        color: #FFFFFF;
    }
    .follow-up-box {
        background-color: #353a53 !important;
        border-color: rgba(231, 237, 244, 0.3) !important;
    }
    .notification-border {
        border-color: rgba(231, 237, 244, 0.3);
    }
    
    .notificatoin-list-heading {
        color: #FFFFFF;
    }
    
    .notification-list-text {
        color: #FFFFFF;
    }
    .dropdown-item:hover::after,
    .dropdown-item.active::after {
        background-image: url('/img/check-icon-dark.svg');
    }
    .vs-table__tr.selected .vs-table__td,
    .followup-tab .nav-tabs {
        background-color: #272B41 !important;
    }
    .followup-tab.tab-content .active {
        background-color: #353a53 !important;
    }
    .selected-product-tools {
        border-top-color: rgba(231, 237, 244, 0.3) !important;
    }
    .product-common-popup .common-popup-css .followup-tab,
    .product-common-popup .common-popup-css .followup-tab textarea,
    .product-common-popup .common-popup-css .followup-tab.tab-content .active,
    .product-common-popup .common-popup-css .followup-tab .vs-select__input,
    .product-common-popup .common-popup-css .track-heading,
    .product-common-popup .common-popup-css .tracking-navbar .tracking-ul,
    .product-common-popup .common-popup-css .vs-form-control input {
        border-color: rgba(231, 237, 244, 0.3) !important;
    }
    .product-common-popup .common-popup-css .followup-tab .nav-link:hover {
        border: none;
    }
    .product-common-popup .common-popup-css .followup-tab .nav-link.active {
        background-color: #2e47ba !important;
    }
    .product-common-popup .common-popup-css .button-green-flag .b-simple.active {
        color: $primary-purple;
        background-color: transparent;
        border-color: $primary-purple;
    }
    .product-common-popup .common-popup-css .payment-left-tab.active,
    .product-common-popup .common-popup-css .payment-info-block,
    .product-common-popup .common-popup-css .subCan_btn_modal {
        background-color: #272B41 !important;
    }
    .product-common-popup .common-popup-css .payment-left-tab.active span {
        color: $primary-purple;
    }
    .product-common-popup .common-popup-css .percentage-input {
        border-color: rgba(231, 237, 244, 0.3) !important;
    }
    .product-common-popup .common-popup-css .percentage-con span {
        background-color: #353a53 !important;
        border-color: rgba(231, 237, 244, 0.3) !important;
    }
    .pp-button-white--border-dash {
        background-color: transparent;
        border-color: rgba(231, 237, 244, 0.3) !important;
    }
    .pp-button-white--border-dash span {
        color: $white
    }
    .vs-switch {
        background-color: rgba(231, 237, 244, 0.3) !important;
    }
    .statistics-page .p-statistics .cell.stat-card .stat-card-row .stat-card-col {
        border-color: rgba(231, 237, 244, 0.3) !important;
    }
    .reports-page .table-container .vs-pagination__button,
    .reports-page .table-container .vs-pagination__arrow {
        color: $primary-purple;
        border: 1px solid $primary-purple !important;
    }
    .reports-page .table-container .vs-pagination__arrow i::before,
    .reports-page .table-container .vs-pagination__arrow i::after {
        background-color: $primary-purple !important;
    }
}

.timesection .hours {
    color: #2e47ba;
}

.date-billing {
    color: #2e47ba;
}

.amount {
    color: #2e47ba;
}

.bankdetails .number {
    color: #2e47ba;
}

.bg-warn {
    background-color: white;
    color: #1d2e38;
    font-size: 14px;
    border: 1.25px solid #2e47ba;
    border-radius: 5px;
}

.warning b {
    font-weight: 700;
    color: #2e47ba;
}

.table-container {
    background: white;
    border-radius: 0 0 20px 20px;
    // box-shadow: 0 4px 10px 0 rgba(20,19,34,.03) !important;
    &.table-only {
        border-radius: 20px;
        box-shadow: 0px 15px 20px rgba(217, 223, 232, 0.2) !important;
    }
}

.vs-alert__content__text {
    color: #cb9400 !important;
}

.card-body-bottom {
    background-color: rgb(247, 249, 250)
}

.vs-table__thead .vs-table__th {
    background: $white !important;
}

.vs-table-content {
    border: 1px solid #e4e3e3;
}

.btn-light {
    border: 1px solid #e4e3e3;
}

.big-input {
    .vs-input {
        background-color: white !important;
        font-size: '16px';
        padding: 10px 13px !important;
    }
}

.dropdown-menu {
    background: #f2f4f8;
}

.text-primary {
    color: #6F8CB8 !important;
}

button a {
    color: inherit !important;
}

button a:hover {
    color: inherit !important;
}

.vs-button--blue,
.vs-button--flat.vs-button--active {
    background: #2e47ba !important;
}

.vs-button--default,
.vs-button--flat.vs-button--active {
    background: #2e47ba !important;
}

.vs-button--danger,
.vs-button--danger.vs-button--active {
    background: #FA4756 !important;
}

.vs-button--warn,
.vs-button--warn.vs-button--active {
    background: #FCBA02 !important;
}

.vs-button--success,
.vs-button--success.vs-button--active {
    background: #54B827 !important;
}

.phone-row {
    color: #2d46ba;
}

.vs-button--border {
    color: #374A87 !important;
}

.vs-button--border:before {
    border-color: #374A87 !important;
}

.text-blue {
    color: #2E47BA !important;
}

.table-container {
    color: #203551;
}


@media(max-width: 768px) {
    body[data-sidebar-color="dark"] {
        .switch-product-and-domain-tab-body {
            background-color: #272B41 !important;
        }
    }
}