
// 
// breadcrumb.scss
//


// Breadcrumb item arrow
.breadcrumb-item {
    > a {
        color: $gray-700;
    }
    +.breadcrumb-item {
        &::before {
            font-family: "Material Design Icons";
        }
    }
}
  

.breadcrumb {
  background-color: rgba(195, 202, 215, 0.2);
  padding: 8px 12px;
  margin-bottom: 0px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  .breadcrumb-item {
    &.active {
      a {
        color: #2e47ba !important;
        font-weight: 600;
      }
    }
    align-items: center;
    & + .breadcrumb-item {
      &::before {
        color: #6c7e95 !important;
        font-size: 18px;
      }
    }
    a {
      font-size: 15px;
      line-height: 18px;
      font-weight: 400;
      color: #6c7e95;
      font-family: Inter;
      text-transform: capitalize;
    }
  }
}