.media {
  transition: all .3s ease-in;
  &.media-variant-dark {
    color: #BFCEE0;
    &:hover {
      color: #FFFFFF;
    }
  }
  &.media-product {
    display: flex;
    gap: 15px;
    overflow: hidden;
    padding: 15px;
    cursor: pointer;
    color: #BFCEE0;
    width: 100%;
    .media-img {
      width: 30px;
      height: 30px;
      border-radius: 8px;
      overflow: hidden;
      background-color: #F4F5F7;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .media-body {
      padding-top: 4px;
      color: inherit;
      div {
        color: inherit;
      }
    }
  }
}
