.dashboard-page {
    font-family: Inter, sans-serif !important;
    @media screen and (max-width: 800px) {
        padding: 0;
    }
    .vs-table__tr:nth-child(2n) {
        background: #f7fafe;
    }
    .row.my-2.dashboard-page_portlets {
        margin-top: 20px !important;
        margin-bottom: 60px !important;
        @media screen and (max-width: 800px) {
            flex-direction: column;
            background: #fff;
            align-items: center;
        }
    }
    .dashboard-page_portlets .col-md-4,
    .dashboard-page_portlets .col-md-3 {
        @media screen and (max-width: 800px) {
            padding: 0;
            margin-bottom: 0;
            width: 90vw;
            max-width: none;
        }
    }
    .dashboard-page_portlets .col-md-4:not(:last-child),
    .dashboard-page_portlets .col-md-3:not(:last-child) {
        @media screen and (max-width: 800px) {
            border-bottom: 1px solid #e0e9f4;
        }
    }
    .title-section {
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.02em;
        font-weight: 600;
        color: #203551;
        font-weight: 600;
        margin-top: 19px;
        @media screen and (max-width: 800px) {
            padding-left: 20px;
        }
    }
    .section {
        background: #fff;
        box-shadow: 0px 15px 20px rgba(217, 223, 232, 0.2);
        border-radius: 12px;
        padding: 20px 20px;
    }
    .chart-line {
        @media screen and (max-width: 800px) {
            width: 100%;
            overflow-x: scroll;
            overflow-y: visible;
            border-radius: 0;
            &::-webkit-scrollbar {
                height: 4px;
                width: 4px;
            }
            /* Track */
            &::-webkit-scrollbar-track {
                background: #fff;
            }
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: #bfcee0;
            }
            .chartjs-size-monitor {
                overflow: visible;
            }
        }
        &__wrapper {
            height: 320px;
            @media screen and (max-width: 800px) {
                width: 890px;
            }
        }
    }
    &__header {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 800px) {
            margin-top: 12px;
        }
    }
    &__title {
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0.02em;
        line-height: 30px;
        color: #203551;
    }
    &_portlets {
        justify-content: space-between;
        .col-md-4 {
            flex: 0 0 34%;
            margin-bottom: 15px;
        }
        .flex{
            @media screen and (max-width: 600px) {
                max-width: calc(100% - 15px);
            }
        }
        .portlet {
            justify-content: flex-start;
            @media screen and (max-width: 800px) {
                border-radius: 0;
                box-shadow: none;
            }
            &-title {
                font-size: 13px;
                line-height: 18px;
                margin-bottom: 5px;
                @media screen and (min-width: 992px) and (max-width: 1200px) {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: calc(100% - 15px);
                }
                @media screen and (max-width: 600px){
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 100%;
                }
            }
            .with-tooltip {
                position: relative;
                padding-right: 21px;
                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 15px;
                    height: 15px;
                    right: 0;
                    background: url("../../static/img/icon/infoTooltip.svg");
                    background-size: contain;
                }
            }
            &-value {
                font-size: 18px;
                line-height: 23px;
                color: #203551;
                @media screen and (min-width: 801px) and (max-width: 1200px) {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: calc(100% - 15px);
                }
            }
        }
    }
    .apexcharts-tooltip {
        background: #93949d;
        border-radius: 12px;
        color: #fff;
    }
    .vs-pagination__button {
        padding: 8px 14px;
        border-radius: 50%;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        border: 1px solid #bccadc;
        box-sizing: border-box;
        color: #2e47ba;
        // margin: 0 7.5px;
    }
    .vs-pagination__active {
        background: #2e47ba;
        box-shadow: 0px 10px 20px rgba(0, 19, 106, 0.25);
        padding: 8px 14px;
        border-radius: 50%;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
    }
    .vs-pagination__arrow {
        border-radius: 50%;
        box-sizing: border-box;
        // margin: 0 7.5px;
    }
    .vs-pagination__arrow:disabled {
        border: 1px solid #bccadc;
    }
    .vs-pagination__arrow:not(:disabled) {
        border: 1px solid #2e47ba;
    }
    .vs-pagination__arrow:disabled i:before,
    .vs-pagination__arrow:disabled i:after {
        background: #62718f;
    }
    .vs-pagination__arrow:not(:disabled) i:before,
    .vs-pagination__arrow:not(:disabled) i:after {
        background: #2e47ba;
    }
    .ranges.col-12.col-md-auto {
        flex: 1;
    }
    .drp-selected {
        display: none;
    }
    &__button {
        border: none;
        background: #fff;
        border-radius: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: calc(100% - 22px);
        height: 40px;
        color: #6C7E95;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.02em;
        position: relative;
        padding: 11px 24px;
        &::before {
            content: '';
            position: absolute;
            width: 8px;
            height: 4px;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            background: url('../../static/img/icon/arrowPicker.svg');
            background-size: contain;
            background-repeat: no-repeat;
        }
        &::after {
            content: '';
            position: absolute;
            width: 16px;
            height: 18px;
            left: 5px;
            top: 50%;
            transform: translateY(-50%);
            background: url('../../static/img/icon/datapickerIcon.svg');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

.applyBtn.btn.confirmButton {
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 20px;
    width: 100%;
    max-width: 160px !important;
    padding: 8px 10px !important;
    font-family: Inter;
    color: #fff;
    background-color: #2E47BA;
    border-radius: 8px;
    margin-left: 0px !important;
}